.container-booking {
    overflow: hidden;
    margin-top: 3%;
}

.span-list {
    color: #fff;
    background-color: #337ab7;
    border-radius: 2px;
    padding: 7px 10px;
    padding-right: 10%;
    margin-bottom: 10px;
}

.div-intern {
    margin-top: 2%;
}

.label {
    margin-top: 7px;
}

.margin-form-inputs {
    margin-bottom: 20px;
    margin-right: 2%;
}

.input-class-booking {
    border: 1px solid #d3d1d1;
    color: #5e5e5e;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 0.9em;
}

.radio {
    display: inline;
}

.select {
    background-color: #fff;
}

.listBookin {
    padding: 2% 2%;
    cursor: pointer;
}

.listBookin:hover {
    background-color: #dfdfdf;
}

.status {
    color: #337ab7;
    font-weight: bold;
}

.div-message {
    margin-top: 12px;
    color: #de0909;
    font-weight: bold;
    font-style: italic;
}

.btnClean {
    background-color: #cddee6;
    color: white;
    display: block;
    background-color: #337ab7;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    border-style: none;
    cursor: pointer;
}

.btnClean:hover {
    background-color: #064e8c;
}

#divClientList {
    margin-top: -40px;
}

fieldset {
    border-color: #fff;
    border-radius: 4px;
    padding: 15px 15px;
    margin-bottom: 15px;
}

.spanData {
    color: #616161;
    padding-bottom: 10px;
}

.labelData {
    color: #010101;
}

legend {
    color: #064e8c;
    font-weight: bold;
}

.divCalculate {
    margin-top: 50px;
}

.row-data {
    margin-bottom: 13px;
}

#divBookingList {
    margin-top: -25px;
}